<a href="https://colab.research.google.com/github/chinhegde/Data-Wrangling-Practice/blob/main/Billionaires_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! kaggle datasets download -d belayethossainds/the-worlds-billionaires-dataset-19872022

Dataset URL: https://www.kaggle.com/datasets/belayethossainds/the-worlds-billionaires-dataset-19872022
License(s): other
Downloading the-worlds-billionaires-dataset-19872022.zip to /content
  0% 0.00/5.03k [00:00<?, ?B/s]
100% 5.03k/5.03k [00:00<00:00, 9.60MB/s]

In [3]:
! unzip /content/the-worlds-billionaires-dataset-19872022.zip
! cat "The Worlds Billionaires Dataset 1987-2022.csv" > billionaires.csv
! rm "The Worlds Billionaires Dataset 1987-2022.csv"

Archive:  /content/the-worlds-billionaires-dataset-19872022.zip
  inflating: The Worlds Billionaires Dataset 1987-2022.csv

In [4]:
import pandas as pd

## Load Dataset

In [5]:
df = pd.read_csv('/content/billionaires.csv', encoding = "ISO-8859-1")

df.head()

,Year,Yearly ranking,Name,Net worth (USD)\n(billion),Age,Nationality,Source(s) of wealth
0,2022,1,Elon Musk,$219 billion,50,United States,"Tesla, SpaceX"
1,2022,2,Jeff Bezos,$177 billion,58,United States,Amazon
2,2022,3,Bernard Arnault & family,$158 billion,73,France,LVMH
3,2022,4,Bill Gates,$129 billion,66,United States,Microsoft
4,2022,5,Warren Buffett,$118 billion,91,United States,Berkshire Hathaway

In [6]:
for i in df.columns:
  print(repr(i))

'Year'
'Yearly ranking '
'Name'
'Net worth\xa0(USD)\n(billion)'
'Age'
'Nationality'
'Source(s) of wealth'

In [7]:
df.rename(columns={'Year': 'year',
                   'Yearly ranking ': 'yearly_ranking',
                   'Name': 'name',
                   'Net worth\xa0(USD)\n(billion)': 'net_worth_usd',
                   'Age': 'age',
                   'Nationality': 'nationality',
                   'Source(s) of wealth': 'source_of_wealth'},
          inplace = True)

In [8]:
df.head()
# df.columns

,year,yearly_ranking,name,net_worth_usd,age,nationality,source_of_wealth
0,2022,1,Elon Musk,$219 billion,50,United States,"Tesla, SpaceX"
1,2022,2,Jeff Bezos,$177 billion,58,United States,Amazon
2,2022,3,Bernard Arnault & family,$158 billion,73,France,LVMH
3,2022,4,Bill Gates,$129 billion,66,United States,Microsoft
4,2022,5,Warren Buffett,$118 billion,91,United States,Berkshire Hathaway

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              362 non-null    int64
 1   yearly_ranking    362 non-null    object
 2   name              362 non-null    object
 3   net_worth_usd     362 non-null    object
 4   age               362 non-null    object
 5   nationality       362 non-null    object
 6   source_of_wealth  362 non-null    object
dtypes: int64(1), object(6)
memory usage: 19.9+ KB

## Easy questions

In [10]:
# How many rows and columns are in the DataFrame?

print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 362
Number of columns: 7

In [11]:
# What are the data types of each column?

for i in df.columns:
  print("Column", i, "is of datatype:", df[i].dtype)

Column year is of datatype: int64
Column yearly_ranking is of datatype: object
Column name is of datatype: object
Column net_worth_usd is of datatype: object
Column age is of datatype: object
Column nationality is of datatype: object
Column source_of_wealth is of datatype: object

In [12]:
# How many null values are in each column?

for i in df.columns:
  print(i, ":", df[i].isnull().sum())

year : 0
yearly_ranking : 0
name : 0
net_worth_usd : 0
age : 0
nationality : 0
source_of_wealth : 0

In [13]:
# Display the last 5 rows of the DataFrame.

df.tail()

,year,yearly_ranking,name,net_worth_usd,age,nationality,source_of_wealth
357,1987,6,Hans and Gad Rausing,$6.0 billion,/,Sweden,/
358,1987,7,Paul Reichmann,$6.0 billion,/,Canada,/
359,1987,8,Yohachiro Iwasaki [ja],$5.6 billion,/,Japan,/
360,1987,9,Kenneth Thomson,$5.4 billion,/,Canada,/
361,1987,10,Keizo Saji,$4.0 billion,/,Japan,/

In [14]:
# What are the unique values in the 'nationality' column?

df['nationality'] = df['nationality'].str.replace(r'[^\x00-\x7F]+', '', regex = True)
df['nationality'].unique()

array(['United States', 'France', 'India', 'Spain', 'Mexico', 'Hong Kong',
       'Brazil', 'Sweden', 'Germany', 'Russia', 'Canada', 'Saudi Arabia',
       'Japan', 'Taiwan', 'Switzerland', 'South Korea', 'United Kingdom'],
      dtype=object)

In [15]:
# How many unique values are in the 'source_of_wealth' column?

df['source_of_wealth'] = df['source_of_wealth'].str.replace(r'[^\x00-\x7F]+', '', regex = True)
df['source_of_wealth'].nunique()

54

In [16]:
# Get the summary statistics of the DataFrame.

df['yearly_ranking'] = df['yearly_ranking'].astype('int64')
df.describe(include='all')

,year,yearly_ranking,name,net_worth_usd,age,nationality,source_of_wealth
count,362.000000,362.000000,362,362,362,362,362
unique,NaN,NaN,88,245,63,17,54
top,NaN,NaN,Bill Gates,$20.0 billion,/,United States,/
freq,NaN,NaN,31,9,90,185,90
mean,2004.486188,5.439227,NaN,NaN,NaN,NaN,NaN
std,10.375823,2.820170,NaN,NaN,NaN,NaN,NaN
min,1987.000000,1.000000,NaN,NaN,NaN,NaN,NaN
25%,1996.000000,3.000000,NaN,NaN,NaN,NaN,NaN
50%,2004.000000,6.000000,NaN,NaN,NaN,NaN,NaN
75%,2013.000000,8.000000,NaN,NaN,NaN,NaN,NaN
max,2022.000000,10.000000,NaN,NaN,NaN,NaN,NaN

In [17]:
# Find the most common nationality in the DataFrame.

df['nationality'].mode()

0    United States
Name: nationality, dtype: object

In [18]:
# How many entries are there for each 'year'?

df.groupby(by='year').count()['name']

year
1987    10
1988    10
1989    10
1990    10
1991    10
1992    10
1993    10
1994    10
1995    10
1996    10
1997    10
1998    10
1999    10
2000    10
2001    11
2002    10
2003    11
2004    10
2005    10
2006    10
2007    10
2008    10
2009    10
2010    10
2011    10
2012    10
2013    10
2014    10
2015    10
2016    10
2017    10
2018    10
2019    10
2020    10
2021    10
2022    10
Name: name, dtype: int64

In [19]:
# How can you sort the DataFrame by net_worth_usd in descending order?

df[['name', 'net_worth_usd']].sort_values('net_worth_usd', ascending = False)

                     name    net_worth_usd
21             Bill Gates     $98 billion
14        Mark Zuckerberg     $97 billion
15         Warren Buffett     $96 billion
31             Bill Gates   $96.5 billion
16          Larry Ellison     $93 billion
..                    ...              ...
274        Warren Buffett   $10.7 billion
269  Li Ka-shing & family   $10.6 billion
325        du Pont family  $10.0 billion
315        du Pont family   $10.0 billion
304     Yoshiaki Tsutsumi   $10.0 billion

[362 rows x 2 columns]

In [20]:
# How can you add a new column age_group with values 'Young', 'Middle-aged', 'Old' based on the age column?

df['age'].unique()
df.drop(df[~df['age'].str.isdigit()].index, inplace = True)

df['age'] = df['age'].astype('int64')

In [21]:
df['age'].min(), df['age'].max()

(31, 94)

In [22]:
df['age_group'] = pd.cut(df['age'], bins=[0, 40, 60, float('inf')], labels=['Young', 'Middle-aged', 'Old'], right=False)

In [23]:
df['age_group'].value_counts()

age_group
Old            163
Middle-aged     94
Young            8
Name: count, dtype: int64

## Advanced questions

In [24]:
# How can you create a function that normalizes the net_worth_usd column and apply it to the DataFrame?

def normalize(col):
  return (col - col.min())/(col.max() - col.min())

df['net_worth_usd'] = df['net_worth_usd'].str.replace('billion', '')
df['net_worth_usd'] = df['net_worth_usd'].str.replace('$', '')
df['net_worth_usd'] = df['net_worth_usd'].str.replace(' ', '')

df['net_worth_usd'] = (df['net_worth_usd'].astype('float64'))*1000000000

df['normalized_net_worth'] = normalize(df['net_worth_usd'])

In [25]:
df['normalized_net_worth']

0      1.000000
1      0.800000
2      0.709524
3      0.571429
4      0.519048
         ...
266    0.017619
267    0.015238
269    0.007619
270    0.000952
271    0.000000
Name: normalized_net_worth, Length: 265, dtype: float64

In [28]:
# How can you create a new DataFrame that shows the year-over-year change in net_worth_usd for each individual?

df2 = df.pivot()

27

In [75]:
# How can you use a lambda function to create a new column age_bracket with values 'Under 30', '30-60', 'Over 60' based on the age column?

In [76]:
# How can you create a heatmap to visualize the correlation between numerical columns in the DataFrame?

In [77]:
# How can you perform a rolling average calculation on the net_worth_usd column with a window size of 5?

In [78]:
# How can you use the cut function to bin the age column into equal-sized intervals and add it as a new column?

In [79]:
# How can you identify and remove outliers in the net_worth_usd column using the IQR method?

In [80]:
# How can you create a custom function to impute missing values in the age column based on the median age of the nationality group?

In [81]:
# How can you create a scatter plot showing the relationship between age and net_worth_usd?

In [82]:
# How can you implement a linear regression model to predict net_worth_usd based on age and year?

In [83]:
# How can you create a new column that ranks individuals within their nationality based on net_worth_usd?

In [84]:
# How can you use a groupby operation to find the top 5 nationalities with the highest average net_worth_usd?

In [85]:
# How can you use a pivot table to compare the average net_worth_usd across different source_of_wealth categories for each year?

In [ ]:
# How can you create a new DataFrame that shows the distribution of net_worth_usd by age groups using a box plot?